
html {
    scroll-behavior: smooth;
  }

.title {
    padding-left: 20px;
}

.test-div {
    display: block;
    float: left;
    color: white;
    position: absolute;
    top: 20px;
    left: 80px;
}

.pos-f-t {
    position: sticky;
    top: 0;
}

.container {
    min-height: 750px;
}